<form method="POST" action="/agregar_curso">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del curso" id="nombre" name="nombre">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" placeholder="Descripcion" id="descripcion" name="descripcion">
    </div>
    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" class="form-control" placeholder="Descripcion" id="precio" name="precio">
    </div>
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" placeholder="Categoria" id="categoria" name="categoria">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>