<div class="card">
  <div class="card-body">
    <form method="POST" action="/agregar_curso">
    {{>alertas}}
      <h3 class="text-center font-weight-bold">
        Agregar Curso
      </h3>
      <br />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombre" class="font-weight-bold">
            Nombre
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del curso"
            id="nombre"
            name="nombre"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="Precio" class="font-weight-bold">
            Precio
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Precio"
            id="precio"
            name="precio"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion" class="font-weight-bold">
          Descripción
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Descripcion"
          id="descripcion"
          name="descripcion"
        />
      </div>
      <div class="form-group">
        <label for="categoria" class="font-weight-bold">
          Categoria
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Categoria"
          id="categoria"
          name="categoria"
        />
      </div>
      <button type="submit" class="btn btn-lg">
        Guardar
      </button>
    </form>
  </div>
</div>