<h1>{{curso.dataValues.nombre}}</h1>
<h1>{{curso.dataValues.descripcion}}</h1>
<h1>{{curso.dataValues.precio}}</h1>
<a href="/inscripcion_curso/{{curso.dataValues.url}}" class="btn btn-primary">Ver mas</a>