<div class="hero-background">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/src/sample.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>{{curso.nombre}}</h1>
                <h2>{{curso.descripcion}}</h2>
            </div>
        </div>
    </div>
</div>