{{! Contenedor con la informacion del curso }}
<div class="curso">
  <div class="row">
    <div class="col-md-4">
      <img src="/src/sample2.jpg" class="img-fluid" alt="Responsive image" />
    </div>
    <div class="col-md-8">
      <h3 class="font-weight-bold">
        {{curso.nombre}}
      </h3>
      <p>
        {{curso.descripcion}}
      </p>
    </div>
  </div>
</div>
{{! Contenedor de lecciones }}
<div class="mt-5">
  <h3 class="font-weight-bold">
    Contenido
  </h3>
</div>