<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  data-interval="7000"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div
      class="carousel-item active"
      style="background-image: url(img/slide1.jpg);"
    >
      <div class="black-overlay"></div>
      <div
        class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center"
      >
        <h1>
          Aprende de los mejores
        </h1>
        <h3>
          Desarrolla y adquiere nuevas habilidades con la ayuda de
                instructores excepcionales: cursos de calidad desde sólo $10.99
        </h3>
        <a href="" class="btn btn-outline-light btn-lg">
          Ver Mas
        </a>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url(img/slide2.jpg);">
      <div class="black-overlay"></div>
      <div
        class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center"
      >
        <h1>
          Aprende a tu ritmo
        </h1>
        <h3>
          Disfruta de los mejores cursos en el lugar y hora que quieras.
                Tú marcas tu propia agenda.
        </h3>
        <a href="" class="btn btn-outline-light btn-lg">
          Ver Mas
        </a>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url(img/slide3.jpg);">
      <div class="black-overlay"></div>
      <div
        class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center"
      >
        <h1>
          Instructores Expertos
        </h1>
        <h3>
          Cada instructor imparte solo lo que mejor sabe hacer, asegurando
                transmitir la pasión y los conocimientos de la mejor forma
                posible.
        </h3>
        <a href="" class="btn btn-outline-light btn-lg">
          Ver Mas
        </a>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">
      Previous
    </span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">
      Next
    </span>
  </a>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <i class="fas fa-photo-video"></i>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title font-weight-bold text-center">
            Material Audiovisual
          </h1>
          <p class="card-text text-center">
            Te ofrecemos los mejores cursos para que puedas adquirir y
                  desarrollar tus conocimientos por medio de videos de máxima
                  calidad para que no pierdas el detalle. Y como el acceso es
                  ilimitado puedes verlos una y otra vez.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title font-weight-bold text-center">
            Excelentes Instructores
          </h1>
          <p class="card-text text-center">
            Contamos con los instructores mas capacitados para tu
                  enseñanza. Al estar inscrito a cualquiera de nuestros cursos
                  tendrás el derecho de realizar consultas a tu instructor para
                  despejar todas las dudas que tengas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <i class="fas fa-home"></i>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title font-weight-bold text-center">
            Desde Cualquier Lugar
          </h1>
          <p class="card-text text-center">
            Desde la comodidad de tu casa, oficina o donde sea. Tendrás la
                  posibilidad de desarrollar tus conocimientos en el lugar donde
                  te sientas más cómodo y en el horario que quieras.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h3 class="mb-4">
    CATEGORIAS PRINCIPALES
  </h3>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="img/categorias/desarrollo.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="font-weight-bold">
            Desarrollo
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="img/categorias/disenio.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="font-weight-bold">
            Diseño
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="img/categorias/it-software.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="font-weight-bold">
            TI y Software
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="img/categorias/marketing.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="font-weight-bold">
            Marketing
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="img/categorias/fotografia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="font-weight-bold">
            Fotografía
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="img/categorias/musica.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="font-weight-bold">
            Música
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 ser-instructor">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/ser-instructor.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6 my-auto">
        <div>
          <h4 class="font-weight-bold">
            Conviertete en instructor
          </h4>
          <p>
            Unete a la comunidad de los mejores instructores.
                  Proporcionamos las herramientas y recursos necesarios para que
                  puedas enseñar lo que te apasiona.
          </p>
          <a href="#" class="btn">
            Empieza hoy mismo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid prom-alumno">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto">
        <div>
          <h4 class="font-weight-bold">
            Transforma tu vida mediante la educación
          </h4>
          <p>
            Muchas personas comienzan una prometedora carrera en el
                  desarrollo de software realizando cursos en línea. ¿De qué
                  serás capaz tú?
          </p>
          <a href="#" class="btn">
            Empieza hoy mismo
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="img/prom-alumno.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>