<div class="container">
  <h3>
    {{leccion.nombre}}
  </h3>
  <div class="card">
    <div class="card-body">
      <video class="w-100 d-block" controls>
        <source src="/uploads/{{leccion.video}}" type="video/mp4" />
      </video>
    </div>
  </div>
</div>