{{#each cursos}}
<div class="card">
    <div class="card-header">
        {{dataValues.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{dataValues.precio}}</h5>
        <p class="card-text">{{dataValues.descripcion}}</p>
        <a href="/admin_curso/{{dataValues.url}}" class="btn btn-primary">Administrar</a>
    </div>
</div>
{{/each}}