{{!-- Formulario login --}}
<div id="login" class="mb-5">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/iniciar_sesion" method="post">
                        <div class="logo-image">
                            <img src="https://trello-attachments.s3.amazonaws.com/5ee82d96e1be721fd7c55a82/591x687/2b9bc935c0034d515912db44c869779e/Logo.png"
                                alt="Logo" title="Logo" width="138">
                        </div>
                        <h3 class="text-center text-black pt-5">Iniciar Sesión</h3>
                        {{>mensajes}}
                        <div class="form-group">
                            <label for="email" class=" text-black">E-mail:</label><br>
                            <input type="text" name="email" id="email" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="contrasena" class="text-black">Contraseña:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="recordar" class="text-black"><span>Recordar</span> <span><input id="recordar"
                                        name="recordar" type="checkbox"></span></label><br>
                        </div>

                        <div class="form-group">
                            <a href="/restablecer_password">Olvide mi contraseña :(</a>
                        </div>

                        <div class="form-group">
                            <a href="/registrate">Todavia no tienes cuenta? Que esperas para registrarte.</a>
                        </div>

                        <button class="btn btn-lg leccion-btn w-100" type="submit">Iniciar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>