<h1>Bienvenido a Dev-Acad</h1>
<h2>Inicie sesion para continuar</h2>

{{!-- Formulario de registrarse --}}

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Inicia Sesion</label>
        <input type="email" class="form-control m-1" placeholder="johnconnor@gmail.com" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <input type="password" class="form-control m-1" placeholder="Contraseña" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Entra ya !!</button>
</form>