<!-- 
<div class="container">
  <h1>
    Restablece tu contrase帽a
  </h1>
  <form class="form-signin" action="/restablecer_password" method="POST">
    {{>alertas}}
    <div class="form-group">
      <label class="mt-3 mb-1" for="inputEmail">
        Correo electr贸nico
      </label>
      <input
        name="email"
        required=""
        autofocus=""
        placeholder="Correo electr贸nico"
        id="inputEmail"
        class="form-control mt-3 mb-3"
        type="email"
      />
    </div>
    <div class="form-group">
      <a href="/iniciar_sesion">
        Volver al inicio de sesion
      </a>
    </div>
    <button type="submit" class="btn btn-primary">
      Restablecer
    </button>
  </form>
</div>
-->


<div id="registro">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-12">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="/restablecer_password" method="POST" enctype="multipart/form-data">
            <h3 class="text-center text-black pt-5">
              Restablecer contrase帽a 
            </h3>
            <br />
            {{>alertas}}

            <div class="form-row">
              <label class="mt-3 mb-1 text-black font-weight-bold" for="inputEmail">
                Ingrese su correo electr贸nico
              </label>
              <br />
                <div class="form-group col-md-10 text-black font-weight-bold">
                  <input
                    name="email"
                    required=""
                    autofocus=""
                    placeholder="Correo electr贸nico"
                    id="inputEmail"
                    class="form-control mt-3 mb-3 col-lg-12"
                    type="email"
                  />
                </div>
                <button type="submit" class="btn btn-lg iniciar-btn mb-3 col-md-2">
                    Restablecer
                </button>
              </div>
              
              <div class="form-group">
                <a href="/iniciar_sesion">
                  Volver al inicio de sesi贸n
                </a>
              </div>
              </form>
            </div>
            </div>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>