 {{#if mensajes}}
    {{#each mensajes}}
        <div class="alert {{type}}" role="alert">
            {{error}}
        </div>
    {{/each}}
 {{/if}}


{{!-- Formulario de registro --}}
<form method="POST" action="/registrate">
    <div class="form-group">
        <label for="exampleInputEmail1">Registrate</label>
        <input type="text" class="form-control m-1" placeholder="Nombre" name="nombre" id="exampleInputEmail1" required autofocus>
        <input type="text" class="form-control m-1" placeholder="Apellido" name="apellido" id="exampleInputEmail1" required>
        <input type="email" class="form-control m-1" placeholder="Email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <input type="text" class="form-control m-1" placeholder="Usuario" name="user" id="exampleInputEmail1" required>
        <input type="password" class="form-control m-1" placeholder="Contraseña" name="password" id="exampleInputEmail1", required>
    </div>
    <button type="submit" class="btn btn-primary">Registrate !!</button>
</form>