 <!DOCTYPE html>
<html lang="es" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dev-Acad</title>
    {{!-- CDN DE CSS BOOTSTRAP --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleN.css" />
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body  class="d-flex flex-column h-100 " >
    <header>
       <!--Navbar -->
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
            <a class="navbar-brand" href="#"><img id="logo" src="/src/Logo2.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

                <ul class="navbar-nav ml-auto">
                    <form id="searchthis" action="/search" style="display:inline;" method="get">
                        <!-- Search box for blogger by Namanyay Goel //-->
                        <input id="namanyay-search-box" name="q" type="text" placeholder="¿Buscas algun curso?" />
                        <i class="large material-icons namanyay-search-btn" type="submit">search</i>
                    </form>

                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="#">
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Cursos</strong></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/web-site-negocios-web/views/agregar_curso.hbs">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agregar_curso">Instructores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iniciar_sesion">Iniciar sesión</a>
                    </li>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Perfil </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info"
                            aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item waves-effect waves-light" href="#">Mi cuenta</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Cerrar sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
                            {{#if mensajes}}
                            {{#each mensajes}}
                                <div class="alert {{type}}" role="alert">
                                    {{error}}
                                </div>
                            {{/each}}
                        {{/if}}
    {{!-- Formulario de registro --}}
    <div id="registro">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/registrate" method="post">
                        <div class="logo-image">
                         <img src="https://trello-attachments.s3.amazonaws.com/5ee82d96e1be721fd7c55a82/591x687/2b9bc935c0034d515912db44c869779e/Logo.png" alt="Logo" title="Logo" width="138">
                        </div>
                        <h3 class="text-center text-black pt-5">Registrarte</h3>
                        
                            <div class="form-group">
                                <label for="email" class=" text-black">Nombre:</label><br>
                                <input type="text" class="form-control m-1" placeholder="Nombre" name="nombre" id="exampleInputEmail1" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="text-black">Apellido:</label><br>
                                <input type="text" class="form-control m-1" placeholder="Apellido" name="apellido" id="exampleInputEmail1" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="text-black">E-mail:</label><br>
                                <input type="email" class="form-control m-1" placeholder="Email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="text-black">Nombre de usuario:</label><br>
                                <input type="text" class="form-control m-1" placeholder="Usuario" name="user" id="exampleInputEmail1" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasena" class="text-black">Contraseña:</label><br>
                                <input type="text" class="form-control m-1" placeholder="Usuario" name="user" id="exampleInputEmail1" required>
                            </div>
                            
                            <button class="btn btn-lg btn-primary btn-block iniciar-btn" type="submit">Registrate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mb3">
        
        <p class="text-center text-muted mt-5">©2020 Negocios Web - UNICAH</p>
    </div>
    </main>
    {{!-- Final de contenido --}}

    {{!-- NO TOCAR SCRIPTS DE BOOTSTRAP --}}
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>



{{!-- Formulario de registrarse --}}




 



