{{! Formulario de registro }}
<div id="registro">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="/registrate" method="post">
            <div class="logo-image pt-3">
              <img
                src="https://trello-attachments.s3.amazonaws.com/5ee82d96e1be721fd7c55a82/591x687/2b9bc935c0034d515912db44c869779e/Logo.png"
                alt="Logo" title="Logo" width="138" />
            </div>
            <h3 class="text-center text-black pt-5">
              Reg칤strate 游땏
            </h3>
            {{>alertas}}
            <div class="form-group">
              <label for="email" class="text-black">
                Nombre:
              </label>
              <br />
              {{!-- Poner un objeto en HBS
              https://www.it-swarm.dev/es/javascript/handlebars.js-parse-object-en-lugar-de-object-object/1067507694/ --}}
              <input type="text" class="form-control m-1" placeholder="Ejemplo: Candido" name="nombre"
                id="exampleInputEmail1" value="{{temp._nombre}}" required autofocus />
            </div>
            <div class="form-group">
              <label for="contrasena" class="text-black">
                Apellido:
              </label>
              <br />
              <input type="text" class="form-control m-1" placeholder="Ejemplo: Panchame" name="apellido"
                id="exampleInputEmail1" value="{{temp._apellido}}" required />
            </div>
            <div class="form-group">
              <label for="contrasena" class="text-black">
                E-mail:
              </label>
              <br />
              <input type="email" class="form-control m-1" placeholder="Ejemplo: mrRobot@funSociety.com" name="email"
                id="exampleInputEmail1" aria-describedby="emailHelp" value="{{temp._email}}" required />
            </div>
            <div class="form-group">
              <label for="contrasena" class="text-black">
                Nombre de usuario:
              </label>
              <br />
              <input value="{{temp._user}}" type="text" class="form-control m-1" placeholder="Ejemplo: theSrAnderson"
                name="user" required />
            </div>
            <div class="form-group">
              <label for="contrasena" class="text-black">
                Contrase침a:
              </label>
              <br />
              <input type="password" class="form-control m-1" placeholder="Contrase침a" name="password"
                id="exampleInputEmail1" required />
            </div>
            {{! Verificar contrase침a }}
            <div class="form-group">
              <label for="contrasena-verify" class="text-black">
                Verificar contrase침a:
              </label>
              <br />
              <input type="password" class="form-control m-1" placeholder="Confirma contrase침a" name="password_verify"
                id="exampleInputEmail1" required />
            </div>
            <button class="btn btn-lg leccion-btn mb-3 w-100" type="submit">
              Reg칤strate
            </button>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{! Formulario de registrarse }}