header {
  background-color: #ececb7;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.navbar a {
  color: black !important;
}

#logo {
  width: 5em;
  padding-left: 2em;
}

.namanyay-search-btn {
  background-color: #378087;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
  font-weight: bold;
}

#namanyay-search-box {
  background: #eee;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 15em;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #6fb3b8;
  color: black;
}

.card-body .btn {
  background-color: #388087;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card-body .btn:hover {
  background-color: #bbe0e7;
  color: black;
}

.hero-background {
  height: 25em;
  background-color: #388087;
  color: white;
}
