body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#378087, #eaeaea);
}

#login .container #login-row #login-column #login-box {
  margin-top: 1em;
  max-width: 600em;
  height: 50%;
  border: 0.2em solid #9c9c9c;
  background-color: #eaeaea;
  border-radius: 1em;
}

#registro .container #login-row #login-column #login-box {
  margin-top: 1em;
  max-width: 600em;
  height: 50%;
  border: 0.2em solid #9c9c9c;
  background-color: #eaeaea;
  border-radius: 1em;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#registro .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
.iniciar-btn {
  background-color: #378087;
  color: white;
  text-align: center;
}
.logo-image,
h1,
p {
  text-align: center;
}

.tarjeta {
  background-color: #eaeaea;
  color: black;
}

.tarjeta-body .btn,
.leccion-btn {
  background-color: #388087;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.tarjeta-body .btn:hover,
.leccion-btn:hover {
  background-color: #285e63;
  color: white;
}
.card-body .btn,
.leccion-btn {
  background-color: #285e63;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
