<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @media screen and (max-width: 720px) {
            body {
                width: 100% !important;
                max-width: 720px !important;
                background-color: #f2f2f2;
            }
        }
    </style>

    <title>Restablecer contraseña de Dev Acad</title>
</head>

<body>
    <h2>Restablece tu contraseña de Dev Acad</h2>
    <p>¡Hey! {{usuario}} Has solicitado restablecer tu contraseña, has clic en el botón que esta abajo ↓↓↓↓↓ para
        restablecer tu
        contraseña</p>
    <button>
        <a href="{{resetUrl}}">Restablece tu contraseña</a>
    </button>

    <p>Si no puedes acceder al enlace, copia el siguiente enlace en otra pestaña de tu navegador: {{resetUrl}}</p>
    <p>Si no solicitaste restablecer tu contraseña de Dev Acad, ignora este correo</>
    <p>¡Ten un buen dia!</p>
</body>

</html>